<!DOCTYPE html>
<html>
  <head>
    <title>PracticeAgain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
	  	<%= link_to "Home", "/" %>
	  	<% if session[:user_id] %>
	  		<%= link_to "Logout" %>
	  	<% else %>
	  		<%= link_to "Sign Up", "/users/new" %>
	  		<%= link_to "Log In" %>	
	  	<% end %>
  	</nav>
    <%= yield %>
  </body>
</html>
